.grid {
    display: flex;
    width:50px;
    height:50px;
    margin:3px;
    align-items:center;
    border: 1px solid blue;
    justify-content:center;
    font-size:2em;
    cursor: pointer;
  }

  .notAllowed {
    cursor: not-allowed;
  }

  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }

  .success {
    animation-name: example;
    animation-duration: 4s;
  }